.padding{
    background-color: #DDDD;
}

.toolbar-background-md{
    background: #030B26;
}

.card-md{
    margin-left: 332px;
    border-radius: 2px;
    width: calc(50% - 20px);
    font-size: 1.4rem;
    background: white;
    
}
.toolbar-title-md{
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: white;  
}
.button-md{
margin-left: 270px;
    border-radius: 2px;
    overflow: hidden;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 50px;
    text-transform: uppercase;
    color: #fff;
    background-color: #488aff;
}
h1{
margin-top: 2rem;
font-size: 1.6rem;
margin-left:480px;
}
