<ion-header>
  <ion-navbar class="toolbar toolbar-md">
    <ion-title class="toolbar-title toolbar-title-md">
      Investigación de Mercado
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="padding">
    <ion-card class="card card-md">
            
        <ion-card-header>
              
            Inicia Sesión
        </ion-card-header>
        
        <ion-item>
            <ion-input type="text" placeholder="Correo electronico"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-input type="text" placeholder="Contraseña"></ion-input>
        </ion-item>
        
        <button ion-button class="button button-md" (click)="goToHome()">Aceptar</button>
        
    </ion-card>
    <h1>¿No tienes cuenta con nosotros? </h1> 
    <button ion-button (click)="goToSignUp()"  clear>Registrate!</button>
</ion-content>