<ion-header>
  <ion-toolbar>
    <ion-title>
      Investigación de Mercado
    </ion-title>
          
      
    <ion-buttons end class="bar-buttons">
      <button ion-button icon-only color="royal">Mis encuestas</button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button (click)="goToMath()" icon-only color="royal">
        <ion-icon name="calculator"></ion-icon>
      </button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button (click)="goToUser()" icon-only color="royal">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
            
      
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
</ion-content>
