<!--
  Generated template for the CalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

 <ion-toolbar>
    <ion-title>
      Investigación de Mercado
    </ion-title>
          
      
    <ion-buttons end>
      <button ion-button (click)="goToHome()" icon-only color="royal">Mis encuestas</button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="calculator"></ion-icon>
      </button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button (click)="goToUser()" icon-only color="royal">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
      
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
            
      
  </ion-toolbar>

</ion-header>


<ion-content padding>
    
    <ion-list inset>

      <h4>Por favor ingrese el primer valor:</h4>
      <ion-item>
        <ion-label>Valor 1</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <h4>Por favor ingrese el segundo valor:</h4>
      <ion-item>
        <ion-label>Valor 2</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

        
        <button ion-button >Calcular</button>
        
</ion-list>

</ion-content>
