<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrate</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
     <ion-card>
        
        <ion-card-header>
            Registrate!
        </ion-card-header>
        
        <ion-item>
            <ion-input type="text" placeholder="Nombre completo"></ion-input>
        </ion-item>
        
         <ion-item>
            <ion-input type="text" placeholder="Correo eletronico"></ion-input>
        </ion-item>
         
        <ion-item>
            <ion-input type="text" placeholder="Contraseña"></ion-input>
        </ion-item>
         
          <ion-item>
            <ion-input type="text" placeholder="Confirmar contraseña"></ion-input>
        </ion-item>
        
        <button ion-button >Aceptar</button>
        
    </ion-card>

</ion-content>
